<div class="container login">
  <div class="row ">
    <div class="center span4 well">
      <legend>Iniciar Sesión</legend>
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">×</a>Usuario y/o contraseña incorrecta.
      </div>
      <form action="" data-ng-submit="sign()">
        <input type="text" class="span4" data-ng-model="usr.email" placeholder="Usuario" />
        <input type="password" class="span4" data-ng-model="usr.password" placeholder="Contraseña" />

        <button type="submit" name="submit" class="btn btn-primary btn-block">Login</button>
      </form>
    </div>
  </div>
</div>